<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button text=""></ion-back-button> -->
      <ion-back-button text="" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Thanh toán</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Thông tin cart-->
  <div class="payment_activities">
    <div>
      <div class="payment_activities__div--item j-payment_incorrect_position_target">
        <p class="payment_activities__p--item_an">Vé tour tham quan Suối Tiên</p>
        <p class="payment_activities__p--item_time">{{ date_format }}</p>
        <div class="payment_activities__p--item_priceItem margin-top-8">
          <p *ngIf="cart.adult_quantity > 0 && cart.child_quantity == 0" class="payment_activities__p--item_count">
            {{cart.adult_quantity}} x Người lớn
          </p>
          <p *ngIf="cart.child_quantity > 0 && cart.adult_quantity == 0" class="payment_activities__p--item_count">
            {{cart.child_quantity}} x Trẻ em (100cm - 140cm)
          </p>
          <p *ngIf="cart.child_quantity > 0 && cart.adult_quantity > 0" class="payment_activities__p--item_count">
            {{cart.adult_quantity}} x Người lớn , {{cart.child_quantity}} x Trẻ em (100cm - 140cm)
          </p>
        </div>
        <p class="payment_activities__p--item_price">{{cart.total | currency: 'VND': 'symbol' : '3.0'}}</p>
        <!-- <div class="payment_activities__div--other_info new_edit payment_incorrect">
          <div class="edit_div"><svg aria-hidden="true" class="klook-symbol payment_activities__svg--oi_edit">
              <use xlink:href="#icon-edit_rail"></use>
            </svg> <span class="payment_activities__span--oi_text_edit">Yêu cầu thông tin thêm</span></div>
     
        </div> -->
      </div>
      <!---->
      <!---->
    </div>
  </div>
  <!-- Thông tin khách-->

  <div class="payment_self_details">
    <p class="payment_self_details__p--title">Thông tin của khách du lịch </p>
    <div class="payment_self_details__div--form">
      <!---->
      <div class="payment_self_details__div--address j-payment_incorrect_position_target"><label for="address"
          class="payment_self_details__label--address_title">Danh xưng</label>
        <div class="payment_self_details__div--address_wrapper"><select name="address" id="address"
            class="payment_self_details__select--address_options payment_color_gray">
            <option value="">Vui lòng chọn </option>
            <option value="MR">ANH</option>
            <option value="MRS">Chị </option>
          </select></div> <i class="klook-icon-arrowDown payment_self_details__i--address_icon"></i>
      </div>
      <!-- <div class="payment_self_details__div--fn j-payment_incorrect_position_target"><label for="familyName"
          class="payment_self_details__label--fn_title">Họ (trên hộ chiếu)</label>
        <div class="payment_self_details__div--fn_wrapper"><input autocomplete="nope" type="text" name="familyName"
            id="familyName" placeholder="Nhập" class="payment_self_details__input--fn_text"></div>
      </div> -->
      <div class="payment_self_details__div--fsn j-payment_incorrect_position_target"><label for="firstName"
          class="payment_self_details__label--fsn_title">Họ tên</label>
        <div class="payment_self_details__div--fsn_wrapper"><input autocomplete="nope" type="text" name="firstName"
            [(ngModel)]="cart.full_name" id="firstName" placeholder="Nhập"
            class="payment_self_details__input--fsn_text"></div>
      </div>
      <div class="payment_self_details__div--country j-payment_incorrect_position_target"><label
          class="payment_self_details__label--country_title">Quốc gia/Vùng lãnh thổ phát hành hộ chiếu </label>
        <div class="payment_self_details__div--country_wrapper"><select name="" id=""
            class="payment_self_details__select--country_options colorGray">
            <option value="">Vui lòng chọn </option>
            <option value="VN">Việt Nam </option>
            <option value="SG">Singapore</option>
            <option value="HK">Hồng Kông</option>
            <option value="PH">Philippines</option>
            <option value="KR">Hàn Quốc</option>
            <option value="MY">Malaysia</option>
            <option value="IN">Ấn Độ </option>
            <option value="AU">Úc</option>
            <option value="ID">Indonesia</option>
            <option value="CA">Canada</option>
            <optgroup label="Nước khác">
              <option value="CN">Trung Quốc</option>
              <option value="TW">Đài Loan</option>
              <option value="MO">Macau</option>
              <option value="JP">Nhật Bản</option>
              <option value="TH">Thái Lan</option>
              <option value="US">Mỹ </option>
              <option value="DZ">Algeria</option>
              <option value="AL">Albania</option>
              <option value="AF">Afghanistan</option>
              <option value="AS">AmericanSamoa</option>
              <option value="AD">Andorra</option>
              <option value="AO">Angola</option>
              <option value="AI">Anguilla</option>
              <option value="AG">Antigua &amp; Barbuda</option>
              <option value="AR">Argentina</option>
              <option value="AM">Armenia</option>
              <option value="AW">Aruba</option>
              <option value="AT">Áo</option>
              <option value="AZ">Azerbaijan</option>
              <option value="BS">Bahamas</option>
              <option value="BH">Bahrain</option>
              <option value="BD">Bangladesh</option>
              <option value="BB">Barbados</option>
              <option value="BY">Belarus</option>
              <option value="BE">Bỉ</option>
              <option value="BZ">Belize</option>
              <option value="BJ">Benin</option>
              <option value="BM">Bermuda</option>
              <option value="BT">Bhutan</option>
              <option value="BO">Bolivia</option>
              <option value="BA">Bosnia Herzegovina</option>
              <option value="BW">Botswana</option>
              <option value="BR">Brazil</option>
              <option value="BN">Brunei</option>
              <option value="BG">Bulgaria</option>
              <option value="BF">Burkina Faso</option>
              <option value="BI">Burundi</option>
              <option value="KH">Cambodia</option>
              <option value="CM">Cameroon</option>
              <option value="CV">Đảo Cape Verde</option>
              <option value="KY">Đảo Cayman</option>
              <option value="CF">Central African Republic</option>
              <option value="CL">Chile</option>
              <option value="TD">Chad</option>
              <option value="CO">Đảo Colombia</option>
              <option value="KM">Comoros</option>
              <option value="CG">Congo</option>
              <option value="CK">Đảo Cook</option>
              <option value="CR">Costa Rica</option>
              <option value="CI">CotedIvoire</option>
              <option value="HR">Croatia</option>
              <option value="CU">Cuba</option>
              <option value="TRNC">Bắc Cyprus</option>
              <option value="CY">Nam Cyprus</option>
              <option value="CZ">Cộng hoà Czech</option>
              <option value="DK">Đan Mạch </option>
              <option value="DJ">Djibouti</option>
              <option value="DM">Dominica</option>
              <option value="DO">Cộng Hoà Dominican</option>
              <option value="EC">Ecuador</option>
              <option value="EG">Ai Cập </option>
              <option value="SV">El Salvador</option>
              <option value="GQ">Equatorial Guinea</option>
              <option value="ER">Eritrea</option>
              <option value="EE">Estonia</option>
              <option value="ET">Ethiopia</option>
              <option value="FK">Đảo Falkland</option>
              <option value="FO">Đảo Faroe</option>
              <option value="FJ">Fiji</option>
              <option value="FI">Phần Lan</option>
              <option value="FR">Pháp </option>
              <option value="GF">French Guiana</option>
              <option value="PF">French Polynesia</option>
              <option value="GA">Gabon</option>
              <option value="GM">Gambia</option>
              <option value="GE">Georgia</option>
              <option value="DE">Đức</option>
              <option value="GH">Ghana</option>
              <option value="GI">Gibraltar</option>
              <option value="GR">Hy Lạp </option>
              <option value="GL">Greenland</option>
              <option value="GD">Grenada</option>
              <option value="GP">Guadeloupe</option>
              <option value="GU">Guam</option>
              <option value="GT">Guatemala</option>
              <option value="GN">Guinea</option>
              <option value="GW">Guinea - Bissau</option>
              <option value="GY">Guyana</option>
              <option value="HT">Haiti</option>
              <option value="HN">Honduras</option>
              <option value="HU">Honduras</option>
              <option value="IS">Iceland</option>
              <option value="IR">Iran</option>
              <option value="IQ">Iraq</option>
              <option value="IE">Ireland</option>
              <option value="IL">Israel</option>
              <option value="IT">Ý </option>
              <option value="JM">Jamaica</option>
              <option value="JO">Jordan</option>
              <option value="KZ">Kazakhstan</option>
              <option value="KE">Kenya</option>
              <option value="KI">Kiribati</option>
              <option value="KP">Bắc Triều Tiên </option>
              <option value="KW">Kuwait</option>
              <option value="KG">Kyrgyzstan</option>
              <option value="LA">Lào </option>
              <option value="LV">Latvia</option>
              <option value="LB">Lebanon</option>
              <option value="LS">Lesotho</option>
              <option value="LR">Liberia</option>
              <option value="LY">Libya</option>
              <option value="LI">Liechtenstein</option>
              <option value="LT">Lithuania</option>
              <option value="LU">Luxembourg</option>
              <option value="MK">Macedonia</option>
              <option value="MG">Madagascar</option>
              <option value="MW">Malawi</option>
              <option value="MV">Maldives</option>
              <option value="ML">Mali</option>
              <option value="MT">Malta</option>
              <option value="MH">Đảo Marshall </option>
              <option value="MQ">Martinique</option>
              <option value="MR">Mauritania</option>
              <option value="YT">Mayotte</option>
              <option value="MU">Mauritius</option>
              <option value="MX">Mexico</option>
              <option value="FM">Micronesia</option>
              <option value="MD">Moldova</option>
              <option value="MC">Monaco</option>
              <option value="MN">Monaco</option>
              <option value="MS">Montserrat</option>
              <option value="MA">Ma Rốc </option>
              <option value="MZ">Mozambique</option>
              <option value="MM">Miến Điện</option>
              <option value="NA">Namibia</option>
              <option value="NR">Nauru</option>
              <option value="NP">Nepal</option>
              <option value="NL">Hà Lan</option>
              <option value="AN">Hà Lan Antilles</option>
              <option value="NC">New Caledonia</option>
              <option value="NZ">New Zealand</option>
              <option value="NI">Nicaragua</option>
              <option value="NE">Niger</option>
              <option value="NG">Nigeria</option>
              <option value="NU">Niue</option>
              <option value="NF">Đảo Norfolk </option>
              <option value="NO">Na Uy </option>
              <option value="OM">Oman</option>
              <option value="PW">Palau</option>
              <option value="PS">Palestine</option>
              <option value="PA">Panama</option>
              <option value="PG">Papua New Guinea</option>
              <option value="PY">Paraguay</option>
              <option value="PE">Peru</option>
              <option value="PK">Pakistan</option>
              <option value="PL">Ba Lan</option>
              <option value="PT">Bồ Đào Nha</option>
              <option value="PR">Puerto Rico</option>
              <option value="QA">Qatar</option>
              <option value="RE">Reunion</option>
              <option value="RO">Romania</option>
              <option value="RU">Nga</option>
              <option value="RW">Rwanda</option>
              <option value="SM">San Marino</option>
              <option value="ST">Sao Tome &amp; Principe</option>
              <option value="SA">Ả Rập Saudi</option>
              <option value="SN">Senegal</option>
              <option value="CS">Serbia</option>
              <option value="SC">Seychelles</option>
              <option value="SL">Sierra Leone</option>
              <option value="SK">Cộng Hoà Slovak</option>
              <option value="SI">Slovenia</option>
              <option value="SB">Đảo Solomon</option>
              <option value="SO">Somalia</option>
              <option value="ZA">Nam Phi</option>
              <option value="ES">Tây Ba Nha </option>
              <option value="LK">Sri Lanka</option>
              <option value="SH">St. Helena</option>
              <option value="KN">St. Kitts</option>
              <option value="LC">St. Lucia</option>
              <option value="SD">Sudan</option>
              <option value="SR">Suriname</option>
              <option value="SZ">Swaziland</option>
              <option value="SE">Thuỵ Điển</option>
              <option value="CH">Switzerland</option>
              <option value="TJ">Tajikstan</option>
              <option value="TZ">Tanzania</option>
              <option value="TG">Togo</option>
              <option value="TO">Tonga</option>
              <option value="TT">Trinidad &amp; Tobago</option>
              <option value="TN">Tunisia</option>
              <option value="TR">Thỗ Nhĩ Kỳ </option>
              <option value="TM">Turkmenistan</option>
              <option value="TC">Đảo Turks &amp; Caicos </option>
              <option value="TV">Tuvalu</option>
              <option value="UG">Uganda</option>
              <option value="GB">Anh</option>
              <option value="UA">Ukraine</option>
              <option value="AE">Các tiểu vương quốc Ả Rập </option>
              <option value="UY">Uruguay</option>
              <option value="UZ">Uzbekistan</option>
              <option value="VU">Vanuatu</option>
              <option value="VA">Vatican</option>
              <option value="VE">Venezuela</option>
              <option value="VG">Đảo British Virgin</option>
              <option value="VI">Đảo Virgin US</option>
              <option value="WF">Wallis &amp; Futuna</option>
              <option value="YE">Yemen</option>
              <option value="ZM">Zambia</option>
              <option value="ZW">Zimbabwe</option>
              <option value="AX">Đảo Åland</option>
              <option value="AQ">Antarctica</option>
              <option value="AC">Đảo Ascension</option>
              <option value="BV">Đảo Bouvet</option>
              <option value="IO">British Indian Ocean Territory</option>
              <option value="IC">Đảo Canada</option>
              <option value="BQ">Caribbean Netherlands</option>
              <option value="EA">Ceuta &amp; Melilla</option>
              <option value="CX">Đảo Christmas</option>
              <option value="CP">Đảo Clipperton</option>
              <option value="CC">Đảo Cocos (Keeling) </option>
              <option value="CD">Congo - Kinshasa</option>
              <option value="CW">Curaçao</option>
              <option value="DG">Diego Garcia</option>
              <option value="TF">French Southern Territories</option>
              <option value="GG">Guernsey</option>
              <option value="HM">Đảo Heard &amp; McDonald </option>
              <option value="IM">Isle of Man</option>
              <option value="JE">Jersey</option>
              <option value="XK">Kosovo</option>
              <option value="ME">Monaco</option>
              <option value="MP">Đảo Bắc Mariana </option>
              <option value="PN">Pitcairn</option>
              <option value="WS">Samoa</option>
              <option value="RS">Serbia</option>
              <option value="SX">Sint Maarten</option>
              <option value="GS">So. Georgia &amp; So. Sandwich Isl.</option>
              <option value="SS">Nam Sudan</option>
              <option value="BL">St. Barthélemy</option>
              <option value="MF">St. Martin</option>
              <option value="PM">St. Pierre &amp; Miquelon</option>
              <option value="VC">St. Vincent &amp; Grenadines</option>
              <option value="SJ">Svalbard &amp; Jan Mayen</option>
              <option value="SY">Syria</option>
              <option value="TL">Timor-Leste</option>
              <option value="TK">Tokelau</option>
              <option value="TA">Tristan da Cunha</option>
              <option value="UM">Đảo U.S. Outlying</option>
              <option value="EH">Tây Sahara </option>
            </optgroup>
          </select></div> <i class="klook-icon-arrowDown payment_self_details__i--country_icon"></i>
      </div>
      <div class="payment_self_details__div--country_code j-payment_incorrect_position_target"><label
          class="payment_self_details__label--country_code_title">Mã quốc gia</label>
        <div class="payment_self_details__div--country_code_wrapper"><select data-v-401d1a0c="" name="" id="countrySt"
            class="payment_self_details__select--country_code_options j-country_code colorGray">
            <option data-v-401d1a0c="" value="">Vui lòng chọn </option>
            <option data-v-401d1a0c="" data-country="DE" value="49">Đức +(49)</option>
            <option data-v-401d1a0c="" data-country="FR" value="33">Pháp +(33)</option>
            <option data-v-401d1a0c="" data-country="RU" value="7">Nga +(7)</option>
            <option data-v-401d1a0c="" data-country="NL" value="31">Hà Lan +(31)</option>
            <option data-v-401d1a0c="" data-country="BE" value="32">Bỉ +(32)</option>
            <option data-v-401d1a0c="" data-country="CH" value="41">Switzerland +(41)</option>
            <option data-v-401d1a0c="" data-country="SE" value="46">Thuỵ Điển +(46)</option>
            <option data-v-401d1a0c="" data-country="ES" value="34">Tây Ba Nha +(34)</option>
            <option data-v-401d1a0c="" data-country="BR" value="55">Brazil +(55)</option>
            <option data-v-401d1a0c="" data-country="AE" value="971">Các tiểu vương quốc Ả Rập +(971)</option>
            <optgroup data-v-401d1a0c="" label="Nước khác">
              <option data-v-401d1a0c="" data-country="CN" value="86">Trung Quốc +(86)</option>
              <option data-v-401d1a0c="" data-country="HK" value="852">Hồng Kông +(852)</option>
              <option data-v-401d1a0c="" data-country="TW" value="886">Đài Loan +(886)</option>
              <option data-v-401d1a0c="" data-country="MO" value="853">Macau +(853)</option>
              <option data-v-401d1a0c="" data-country="SG" value="65">Singapore +(65)</option>
              <option data-v-401d1a0c="" data-country="AU" value="61">Úc +(61)</option>
              <option data-v-401d1a0c="" data-country="ID" value="62">Indonesia +(62)</option>
              <option data-v-401d1a0c="" data-country="IN" value="91">Ấn Độ +(91)</option>
              <option data-v-401d1a0c="" data-country="JP" value="81">Nhật Bản +(81)</option>
              <option data-v-401d1a0c="" data-country="KR" value="82">Hàn Quốc +(82)</option>
              <option data-v-401d1a0c="" data-country="MY" value="60">Malaysia +(60)</option>
              <option data-v-401d1a0c="" data-country="PH" value="63">Philippines +(63)</option>
              <option data-v-401d1a0c="" data-country="TH" value="66">Thái Lan +(66)</option>
              <option data-v-401d1a0c="" data-country="US" value="1">Mỹ +(1)</option>
              <option data-v-401d1a0c="" data-country="DZ" value="213">Algeria +(213)</option>
              <option data-v-401d1a0c="" data-country="AL" value="355">Albania +(355)</option>
              <option data-v-401d1a0c="" data-country="AF" value="93">Afghanistan +(93)</option>
              <option data-v-401d1a0c="" data-country="AS" value="1684">AmericanSamoa +(1684)</option>
              <option data-v-401d1a0c="" data-country="AD" value="376">Andorra +(376)</option>
              <option data-v-401d1a0c="" data-country="AO" value="244">Angola +(244)</option>
              <option data-v-401d1a0c="" data-country="AI" value="1264">Anguilla +(1264)</option>
              <option data-v-401d1a0c="" data-country="AG" value="1268">Antigua &amp; Barbuda +(1268)</option>
              <option data-v-401d1a0c="" data-country="AR" value="54">Argentina +(54)</option>
              <option data-v-401d1a0c="" data-country="AM" value="374">Armenia +(374)</option>
              <option data-v-401d1a0c="" data-country="AW" value="297">Aruba +(297)</option>
              <option data-v-401d1a0c="" data-country="AT" value="43">Áo +(43)</option>
              <option data-v-401d1a0c="" data-country="AZ" value="994">Azerbaijan +(994)</option>
              <option data-v-401d1a0c="" data-country="BS" value="1242">Bahamas +(1242)</option>
              <option data-v-401d1a0c="" data-country="BH" value="973">Bahrain +(973)</option>
              <option data-v-401d1a0c="" data-country="BD" value="880">Bangladesh +(880)</option>
              <option data-v-401d1a0c="" data-country="BB" value="1246">Barbados +(1246)</option>
              <option data-v-401d1a0c="" data-country="BY" value="375">Belarus +(375)</option>
              <option data-v-401d1a0c="" data-country="BZ" value="501">Belize +(501)</option>
              <option data-v-401d1a0c="" data-country="BJ" value="229">Benin +(229)</option>
              <option data-v-401d1a0c="" data-country="BM" value="1441">Bermuda +(1441)</option>
              <option data-v-401d1a0c="" data-country="BT" value="975">Bhutan +(975)</option>
              <option data-v-401d1a0c="" data-country="BO" value="591">Bolivia +(591)</option>
              <option data-v-401d1a0c="" data-country="BA" value="387">Bosnia Herzegovina +(387)</option>
              <option data-v-401d1a0c="" data-country="BW" value="267">Botswana +(267)</option>
              <option data-v-401d1a0c="" data-country="BN" value="673">Brunei +(673)</option>
              <option data-v-401d1a0c="" data-country="BG" value="359">Bulgaria +(359)</option>
              <option data-v-401d1a0c="" data-country="BF" value="226">Burkina Faso +(226)</option>
              <option data-v-401d1a0c="" data-country="BI" value="257">Burundi +(257)</option>
              <option data-v-401d1a0c="" data-country="KH" value="855">Cambodia +(855)</option>
              <option data-v-401d1a0c="" data-country="CM" value="237">Cameroon +(237)</option>
              <option data-v-401d1a0c="" data-country="CA" value="1">Canada +(1)</option>
              <option data-v-401d1a0c="" data-country="CV" value="238">Đảo Cape Verde +(238)</option>
              <option data-v-401d1a0c="" data-country="KY" value="1345">Đảo Cayman +(1345)</option>
              <option data-v-401d1a0c="" data-country="CF" value="236">Central African Republic +(236)</option>
              <option data-v-401d1a0c="" data-country="CL" value="56">Chile +(56)</option>
              <option data-v-401d1a0c="" data-country="TD" value="235">Chad +(235)</option>
              <option data-v-401d1a0c="" data-country="CO" value="57">Đảo Colombia +(57)</option>
              <option data-v-401d1a0c="" data-country="KM" value="269">Comoros +(269)</option>
              <option data-v-401d1a0c="" data-country="CG" value="242">Congo +(242)</option>
              <option data-v-401d1a0c="" data-country="CK" value="682">Đảo Cook +(682)</option>
              <option data-v-401d1a0c="" data-country="CR" value="506">Costa Rica +(506)</option>
              <option data-v-401d1a0c="" data-country="CI" value="225">CotedIvoire +(225)</option>
              <option data-v-401d1a0c="" data-country="HR" value="385">Croatia +(385)</option>
              <option data-v-401d1a0c="" data-country="CU" value="53">Cuba +(53)</option>
              <option data-v-401d1a0c="" data-country="TRNC" value="392">Bắc Cyprus +(392)</option>
              <option data-v-401d1a0c="" data-country="CY" value="357">Nam Cyprus +(357)</option>
              <option data-v-401d1a0c="" data-country="CZ" value="420">Cộng hoà Czech +(420)</option>
              <option data-v-401d1a0c="" data-country="DK" value="45">Đan Mạch +(45)</option>
              <option data-v-401d1a0c="" data-country="DJ" value="253">Djibouti +(253)</option>
              <option data-v-401d1a0c="" data-country="DM" value="1767">Dominica +(1767)</option>
              <option data-v-401d1a0c="" data-country="DO" value="1">Cộng Hoà Dominican +(1)</option>
              <option data-v-401d1a0c="" data-country="EC" value="593">Ecuador +(593)</option>
              <option data-v-401d1a0c="" data-country="EG" value="20">Ai Cập +(20)</option>
              <option data-v-401d1a0c="" data-country="SV" value="503">El Salvador +(503)</option>
              <option data-v-401d1a0c="" data-country="GQ" value="240">Equatorial Guinea +(240)</option>
              <option data-v-401d1a0c="" data-country="ER" value="291">Eritrea +(291)</option>
              <option data-v-401d1a0c="" data-country="EE" value="372">Estonia +(372)</option>
              <option data-v-401d1a0c="" data-country="ET" value="251">Ethiopia +(251)</option>
              <option data-v-401d1a0c="" data-country="FK" value="500">Đảo Falkland +(500)</option>
              <option data-v-401d1a0c="" data-country="FO" value="298">Đảo Faroe +(298)</option>
              <option data-v-401d1a0c="" data-country="FJ" value="679">Fiji +(679)</option>
              <option data-v-401d1a0c="" data-country="FI" value="358">Phần Lan +(358)</option>
              <option data-v-401d1a0c="" data-country="GF" value="594">French Guiana +(594)</option>
              <option data-v-401d1a0c="" data-country="PF" value="689">French Polynesia +(689)</option>
              <option data-v-401d1a0c="" data-country="GA" value="241">Gabon +(241)</option>
              <option data-v-401d1a0c="" data-country="GM" value="220">Gambia +(220)</option>
              <option data-v-401d1a0c="" data-country="GE" value="995">Georgia +(995)</option>
              <option data-v-401d1a0c="" data-country="GH" value="233">Ghana +(233)</option>
              <option data-v-401d1a0c="" data-country="GI" value="350">Gibraltar +(350)</option>
              <option data-v-401d1a0c="" data-country="GR" value="30">Hy Lạp +(30)</option>
              <option data-v-401d1a0c="" data-country="GL" value="299">Greenland +(299)</option>
              <option data-v-401d1a0c="" data-country="GD" value="1473">Grenada +(1473)</option>
              <option data-v-401d1a0c="" data-country="GP" value="590">Guadeloupe +(590)</option>
              <option data-v-401d1a0c="" data-country="GU" value="1671">Guam +(1671)</option>
              <option data-v-401d1a0c="" data-country="GT" value="502">Guatemala +(502)</option>
              <option data-v-401d1a0c="" data-country="GN" value="224">Guinea +(224)</option>
              <option data-v-401d1a0c="" data-country="GW" value="245">Guinea - Bissau +(245)</option>
              <option data-v-401d1a0c="" data-country="GY" value="592">Guyana +(592)</option>
              <option data-v-401d1a0c="" data-country="HT" value="509">Haiti +(509)</option>
              <option data-v-401d1a0c="" data-country="HN" value="504">Honduras +(504)</option>
              <option data-v-401d1a0c="" data-country="HU" value="36">Honduras +(36)</option>
              <option data-v-401d1a0c="" data-country="IS" value="354">Iceland +(354)</option>
              <option data-v-401d1a0c="" data-country="IR" value="98">Iran +(98)</option>
              <option data-v-401d1a0c="" data-country="IQ" value="964">Iraq +(964)</option>
              <option data-v-401d1a0c="" data-country="IE" value="353">Ireland +(353)</option>
              <option data-v-401d1a0c="" data-country="IL" value="972">Israel +(972)</option>
              <option data-v-401d1a0c="" data-country="IT" value="39">Ý +(39)</option>
              <option data-v-401d1a0c="" data-country="JM" value="1876">Jamaica +(1876)</option>
              <option data-v-401d1a0c="" data-country="JO" value="962">Jordan +(962)</option>
              <option data-v-401d1a0c="" data-country="KZ" value="7">Kazakhstan +(7)</option>
              <option data-v-401d1a0c="" data-country="KE" value="254">Kenya +(254)</option>
              <option data-v-401d1a0c="" data-country="KI" value="686">Kiribati +(686)</option>
              <option data-v-401d1a0c="" data-country="KP" value="850">Bắc Triều Tiên +(850)</option>
              <option data-v-401d1a0c="" data-country="KW" value="965">Kuwait +(965)</option>
              <option data-v-401d1a0c="" data-country="KG" value="996">Kyrgyzstan +(996)</option>
              <option data-v-401d1a0c="" data-country="LA" value="856">Lào +(856)</option>
              <option data-v-401d1a0c="" data-country="LV" value="371">Latvia +(371)</option>
              <option data-v-401d1a0c="" data-country="LB" value="961">Lebanon +(961)</option>
              <option data-v-401d1a0c="" data-country="LS" value="266">Lesotho +(266)</option>
              <option data-v-401d1a0c="" data-country="LR" value="231">Liberia +(231)</option>
              <option data-v-401d1a0c="" data-country="LY" value="218">Libya +(218)</option>
              <option data-v-401d1a0c="" data-country="LI" value="423">Liechtenstein +(423)</option>
              <option data-v-401d1a0c="" data-country="LT" value="370">Lithuania +(370)</option>
              <option data-v-401d1a0c="" data-country="LU" value="352">Luxembourg +(352)</option>
              <option data-v-401d1a0c="" data-country="MK" value="389">Macedonia +(389)</option>
              <option data-v-401d1a0c="" data-country="MG" value="261">Madagascar +(261)</option>
              <option data-v-401d1a0c="" data-country="MW" value="265">Malawi +(265)</option>
              <option data-v-401d1a0c="" data-country="MV" value="960">Maldives +(960)</option>
              <option data-v-401d1a0c="" data-country="ML" value="223">Mali +(223)</option>
              <option data-v-401d1a0c="" data-country="MT" value="356">Malta +(356)</option>
              <option data-v-401d1a0c="" data-country="MH" value="692">Đảo Marshall +(692)</option>
              <option data-v-401d1a0c="" data-country="MQ" value="596">Martinique +(596)</option>
              <option data-v-401d1a0c="" data-country="MR" value="222">Mauritania +(222)</option>
              <option data-v-401d1a0c="" data-country="YT" value="262">Mayotte +(262)</option>
              <option data-v-401d1a0c="" data-country="MU" value="230">Mauritius +(230)</option>
              <option data-v-401d1a0c="" data-country="MX" value="52">Mexico +(52)</option>
              <option data-v-401d1a0c="" data-country="FM" value="691">Micronesia +(691)</option>
              <option data-v-401d1a0c="" data-country="MD" value="373">Moldova +(373)</option>
              <option data-v-401d1a0c="" data-country="MC" value="377">Monaco +(377)</option>
              <option data-v-401d1a0c="" data-country="MN" value="976">Monaco +(976)</option>
              <option data-v-401d1a0c="" data-country="MS" value="1664">Montserrat +(1664)</option>
              <option data-v-401d1a0c="" data-country="MA" value="212">Ma Rốc +(212)</option>
              <option data-v-401d1a0c="" data-country="MZ" value="258">Mozambique +(258)</option>
              <option data-v-401d1a0c="" data-country="MM" value="95">Miến Điện +(95)</option>
              <option data-v-401d1a0c="" data-country="NA" value="264">Namibia +(264)</option>
              <option data-v-401d1a0c="" data-country="NR" value="674">Nauru +(674)</option>
              <option data-v-401d1a0c="" data-country="NP" value="977">Nepal +(977)</option>
              <option data-v-401d1a0c="" data-country="AN" value="599">Hà Lan Antilles +(599)</option>
              <option data-v-401d1a0c="" data-country="NC" value="687">New Caledonia +(687)</option>
              <option data-v-401d1a0c="" data-country="NZ" value="64">New Zealand +(64)</option>
              <option data-v-401d1a0c="" data-country="NI" value="505">Nicaragua +(505)</option>
              <option data-v-401d1a0c="" data-country="NE" value="227">Niger +(227)</option>
              <option data-v-401d1a0c="" data-country="NG" value="234">Nigeria +(234)</option>
              <option data-v-401d1a0c="" data-country="NU" value="683">Niue +(683)</option>
              <option data-v-401d1a0c="" data-country="NF" value="672">Đảo Norfolk +(672)</option>
              <option data-v-401d1a0c="" data-country="NO" value="47">Na Uy +(47)</option>
              <option data-v-401d1a0c="" data-country="OM" value="968">Oman +(968)</option>
              <option data-v-401d1a0c="" data-country="PW" value="680">Palau +(680)</option>
              <option data-v-401d1a0c="" data-country="PS" value="970">Palestine +(970)</option>
              <option data-v-401d1a0c="" data-country="PA" value="507">Panama +(507)</option>
              <option data-v-401d1a0c="" data-country="PG" value="675">Papua New Guinea +(675)</option>
              <option data-v-401d1a0c="" data-country="PY" value="595">Paraguay +(595)</option>
              <option data-v-401d1a0c="" data-country="PE" value="51">Peru +(51)</option>
              <option data-v-401d1a0c="" data-country="PK" value="92">Pakistan +(92)</option>
              <option data-v-401d1a0c="" data-country="PL" value="48">Ba Lan +(48)</option>
              <option data-v-401d1a0c="" data-country="PT" value="351">Bồ Đào Nha +(351)</option>
              <option data-v-401d1a0c="" data-country="PR" value="1">Puerto Rico +(1)</option>
              <option data-v-401d1a0c="" data-country="QA" value="974">Qatar +(974)</option>
              <option data-v-401d1a0c="" data-country="RE" value="262">Reunion +(262)</option>
              <option data-v-401d1a0c="" data-country="RO" value="40">Romania +(40)</option>
              <option data-v-401d1a0c="" data-country="RW" value="250">Rwanda +(250)</option>
              <option data-v-401d1a0c="" data-country="SM" value="378">San Marino +(378)</option>
              <option data-v-401d1a0c="" data-country="ST" value="239">Sao Tome &amp; Principe +(239)</option>
              <option data-v-401d1a0c="" data-country="SA" value="966">Ả Rập Saudi +(966)</option>
              <option data-v-401d1a0c="" data-country="SN" value="221">Senegal +(221)</option>
              <option data-v-401d1a0c="" data-country="CS" value="381">Serbia +(381)</option>
              <option data-v-401d1a0c="" data-country="SC" value="248">Seychelles +(248)</option>
              <option data-v-401d1a0c="" data-country="SL" value="232">Sierra Leone +(232)</option>
              <option data-v-401d1a0c="" data-country="SK" value="421">Cộng Hoà Slovak +(421)</option>
              <option data-v-401d1a0c="" data-country="SI" value="386">Slovenia +(386)</option>
              <option data-v-401d1a0c="" data-country="SB" value="677">Đảo Solomon +(677)</option>
              <option data-v-401d1a0c="" data-country="SO" value="252">Somalia +(252)</option>
              <option data-v-401d1a0c="" data-country="ZA" value="27">Nam Phi +(27)</option>
              <option data-v-401d1a0c="" data-country="LK" value="94">Sri Lanka +(94)</option>
              <option data-v-401d1a0c="" data-country="SH" value="290">St. Helena +(290)</option>
              <option data-v-401d1a0c="" data-country="KN" value="1869">St. Kitts +(1869)</option>
              <option data-v-401d1a0c="" data-country="LC" value="1758">St. Lucia +(1758)</option>
              <option data-v-401d1a0c="" data-country="SD" value="249">Sudan +(249)</option>
              <option data-v-401d1a0c="" data-country="SR" value="597">Suriname +(597)</option>
              <option data-v-401d1a0c="" data-country="SZ" value="268">Swaziland +(268)</option>
              <option data-v-401d1a0c="" data-country="TJ" value="992">Tajikstan +(992)</option>
              <option data-v-401d1a0c="" data-country="TZ" value="255">Tanzania +(255)</option>
              <option data-v-401d1a0c="" data-country="TG" value="228">Togo +(228)</option>
              <option data-v-401d1a0c="" data-country="TO" value="676">Tonga +(676)</option>
              <option data-v-401d1a0c="" data-country="TT" value="1868">Trinidad &amp; Tobago +(1868)</option>
              <option data-v-401d1a0c="" data-country="TN" value="216">Tunisia +(216)</option>
              <option data-v-401d1a0c="" data-country="TR" value="90">Thỗ Nhĩ Kỳ +(90)</option>
              <option data-v-401d1a0c="" data-country="TM" value="993">Turkmenistan +(993)</option>
              <option data-v-401d1a0c="" data-country="TC" value="1649">Đảo Turks &amp; Caicos +(1649)</option>
              <option data-v-401d1a0c="" data-country="TV" value="688">Tuvalu +(688)</option>
              <option data-v-401d1a0c="" data-country="UG" value="256">Uganda +(256)</option>
              <option data-v-401d1a0c="" data-country="GB" value="44">Anh +(44)</option>
              <option data-v-401d1a0c="" data-country="UA" value="380">Ukraine +(380)</option>
              <option data-v-401d1a0c="" data-country="UY" value="598">Uruguay +(598)</option>
              <option data-v-401d1a0c="" data-country="UZ" value="998">Uzbekistan +(998)</option>
              <option data-v-401d1a0c="" data-country="VU" value="678">Vanuatu +(678)</option>
              <option data-v-401d1a0c="" data-country="VA" value="379">Vatican +(379)</option>
              <option data-v-401d1a0c="" data-country="VE" value="58">Venezuela +(58)</option>
              <option data-v-401d1a0c="" data-country="VN" value="84">Việt Nam +(84)</option>
              <option data-v-401d1a0c="" data-country="VG" value="1284">Đảo British Virgin +(1284)</option>
              <option data-v-401d1a0c="" data-country="VI" value="1340">Đảo Virgin US +(1340)</option>
              <option data-v-401d1a0c="" data-country="WF" value="681">Wallis &amp; Futuna +(681)</option>
              <option data-v-401d1a0c="" data-country="YE" value="967">Yemen +(967)</option>
              <option data-v-401d1a0c="" data-country="ZM" value="260">Zambia +(260)</option>
              <option data-v-401d1a0c="" data-country="ZW" value="263">Zimbabwe +(263)</option>
              <option data-v-401d1a0c="" data-country="AX" value="358">Đảo Åland +(358)</option>
              <option data-v-401d1a0c="" data-country="AQ" value="672">Antarctica +(672)</option>
              <option data-v-401d1a0c="" data-country="AC" value="247">Đảo Ascension +(247)</option>
              <option data-v-401d1a0c="" data-country="BV" value="47">Đảo Bouvet +(47)</option>
              <option data-v-401d1a0c="" data-country="IO" value="246">British Indian Ocean Territory +(246)</option>
              <option data-v-401d1a0c="" data-country="IC" value="34">Đảo Canada +(34)</option>
              <option data-v-401d1a0c="" data-country="BQ" value="599">Caribbean Netherlands +(599)</option>
              <option data-v-401d1a0c="" data-country="EA" value="34">Ceuta &amp; Melilla +(34)</option>
              <option data-v-401d1a0c="" data-country="CX" value="61">Đảo Christmas +(61)</option>
              <option data-v-401d1a0c="" data-country="CP" value="33">Đảo Clipperton +(33)</option>
              <option data-v-401d1a0c="" data-country="CC" value="61">Đảo Cocos (Keeling) +(61)</option>
              <option data-v-401d1a0c="" data-country="CD" value="243">Congo - Kinshasa +(243)</option>
              <option data-v-401d1a0c="" data-country="CW" value="599">Curaçao +(599)</option>
              <option data-v-401d1a0c="" data-country="DG" value="246">Diego Garcia +(246)</option>
              <option data-v-401d1a0c="" data-country="TF" value="262">French Southern Territories +(262)</option>
              <option data-v-401d1a0c="" data-country="GG" value="441481">Guernsey +(441481)</option>
              <option data-v-401d1a0c="" data-country="HM" value="672">Đảo Heard &amp; McDonald +(672)</option>
              <option data-v-401d1a0c="" data-country="IM" value="441624">Isle of Man +(441624)</option>
              <option data-v-401d1a0c="" data-country="JE" value="441534">Jersey +(441534)</option>
              <option data-v-401d1a0c="" data-country="XK" value="383">Kosovo +(383)</option>
              <option data-v-401d1a0c="" data-country="ME" value="382">Monaco +(382)</option>
              <option data-v-401d1a0c="" data-country="MP" value="1670">Đảo Bắc Mariana +(1670)</option>
              <option data-v-401d1a0c="" data-country="PN" value="64">Pitcairn +(64)</option>
              <option data-v-401d1a0c="" data-country="WS" value="685">Samoa +(685)</option>
              <option data-v-401d1a0c="" data-country="RS" value="381">Serbia +(381)</option>
              <option data-v-401d1a0c="" data-country="SX" value="1721">Sint Maarten +(1721)</option>
              <option data-v-401d1a0c="" data-country="GS" value="500">So. Georgia &amp; So. Sandwich Isl. +(500)
              </option>
              <option data-v-401d1a0c="" data-country="SS" value="211">Nam Sudan +(211)</option>
              <option data-v-401d1a0c="" data-country="BL" value="590">St. Barthélemy +(590)</option>
              <option data-v-401d1a0c="" data-country="MF" value="590">St. Martin +(590)</option>
              <option data-v-401d1a0c="" data-country="PM" value="508">St. Pierre &amp; Miquelon +(508)</option>
              <option data-v-401d1a0c="" data-country="VC" value="1784">St. Vincent &amp; Grenadines +(1784)</option>
              <option data-v-401d1a0c="" data-country="SJ" value="47">Svalbard &amp; Jan Mayen +(47)</option>
              <option data-v-401d1a0c="" data-country="SY" value="963">Syria +(963)</option>
              <option data-v-401d1a0c="" data-country="TL" value="670">Timor-Leste +(670)</option>
              <option data-v-401d1a0c="" data-country="TK" value="690">Tokelau +(690)</option>
              <option data-v-401d1a0c="" data-country="TA" value="290">Tristan da Cunha +(290)</option>
              <option data-v-401d1a0c="" data-country="UM" value="1">Đảo U.S. Outlying +(1)</option>
              <option data-v-401d1a0c="" data-country="EH" value="212">Tây Sahara +(212)</option>
            </optgroup>
          </select></div> <i class="klook-icon-arrowDown payment_self_details__i--country_code_icon"></i>
      </div>
      <div class="payment_self_details__div--mobile j-payment_incorrect_position_target"><label for="mobile"
          class="payment_self_details__label--mobile_title">Số điện thoại (liên hệ khẩn cấp)</label>
        <div class="payment_self_details__div--mobile_wrapper"><input autocomplete="nope" type="tel" name="mobile"
            id="mobile" placeholder="Nhập" class="payment_self_details__input--mobile_text"></div>
        <p class="payment_self_details__i--mobile_verified" style="display: none;">Đã xác minh</p>
      </div>
      <div class="payment_self_details__div--email j-payment_incorrect_position_target"><label for="travellerEmail"
          class="payment_self_details__label--email_title">Email (nhận voucher)</label>
        <div class="payment_self_details__div--email_wrapper">
          <ul data-v-2e711c9e="" class="mail-suggest-container"
            style="width: calc(100vw - 32px); bottom: 40px; display: none;"></ul> <input autocomplete="nope" type="text"
            name="travellerEmail" id="travellerEmail" placeholder="Nhập"
            class="payment_self_details__input--email_text">
        </div>
        <div class="bubble_wrapper g_abs payment_bubble" style="display: none;">
          <div class="bubble_content">
            <p>Voucher của bạn sẽ được gửi vào đây, xin vui lòng kiểm tra kỹ</p>
          </div> <i class="klook-icon-close"></i>
          <div class="triangle g_abs"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tóm tắt thanh toán-->
  <div class="payment_summary">
    <p class="payment_summary__p--title">Tóm tắt thanh toán</p>
    <div class="payment_summary__div--form">
      <div class="payment_summary__div--subtotal"><span>Tổng cộng </span> <span class="color">
          {{cart.total | currency: 'VND': 'symbol' : '3.0'}}</span>
      </div>
      <!---->
      <!---->
      <div data-track-event="Payment Page|Use Promo Code Button Clicked" class="payment_summary__div--promo_code"><span
          class="payment_summary__span--promo_tip">Sử dụng Mã ưu đãi</span>
        <div class="payment_summary__div--promo_content" style="display: none;">
          <p class="payment_summary__p--promo_info"><svg class="klook-symbol">
              <use xlink:href="#icon-promo_code_done"></use>
            </svg> <span class="payment_summary__span--promo_code"></span></p>
          <p class="payment_summary__p--promo_mount">- ₫ 0</p>
        </div> <i class="klook-icon-arrowRight"></i>
      </div>
      <div class="payment_summary__div--extra_discount" style="display: none;">
        <p></p>
        <p>- ₫ 0</p>
      </div>
      <div class="payment_summary__div--promo_gap"></div>
      <div class="payment_summary__div--total" style="display: none;"><span>Tổng cộng </span> <span>₫ 917,891</span>
      </div>
    </div>
  </div>

  <!-- Phương thuc thanh toan-->

  <div class="payment_options">
    <p class="payment_options__p--title">Phương thức thanh toán</p>
    <div class="payment_options__div--giftcard" style="display: none;"><span
        class="payment_options__span--giftcard_tip">Gift Card</span>
      <div class="payment_options__div--giftcard_price">
        <div class="payment_options__div--giftcard_money"><span
            class="payment_options__span--giftcard_mount margin-bottom-4">Số dư</span> <span
            class="payment_options__span--giftcard_mount">₫ 0</span></div>
        <div class="payment_options__div--giftcard_money" style="display: none;"><span
            class="payment_options__span--giftcard_mount">- ₫ 0</span></div> <svg class="klook-symbol"
          style="display: none;">
          <use xlink:href="#icon-checkbox-sel"></use>
        </svg> <svg class="klook-symbol">
          <use xlink:href="#icon-checkbox-nor"></use>
        </svg>
      </div>
    </div>
    <div class="payment_options__div--otherpay" style="display: none;">
      <div class="payment_options__div--otherPaymentBtn"><span class="payment_options__span--other_payment">Phương thức
          thanh toán khác</span> <svg class="klook-symbol" style="">
          <use xlink:href="#icon-checkbox-sel"></use>
        </svg> <svg class="klook-symbol" style="display: none;">
          <use xlink:href="#icon-checkbox-nor"></use>
        </svg></div>
    </div>
    <div class="payment_options__div--form" style="">
      <div class="payment_options__div--otherPayment" style="display: none;"><span
          class="payment_options__span--otherPayment_tip hasPayPrice">Số dư còn lại:</span> <span
          class="payment_options__span--otherPayment_price" style="">₫ 917,891</span></div>
      <!---->
      <!---->
      <!---->
      <div class="payment_options__div--other_type payment_options_onlinebank">
        <!----> <img src="https://res.klook.com/image/upload/q_80/v1542708327/momo_gpmnmh.png"
          class="payment_options_onlinebank__main_icon_img">
        <div class="payment_options_onlinebank__content">
          <p><span class="payment_options_onlinebank__content__text">MoMo E-Wallet</span>
            <!---->
          </p>
          <!---->
        </div>
        <div class="payment_options_onlinebank__radio">
          <!----> <span class="payment_options__i--onlinebanking_radio_wrap"><i
              class="payment_options__i--other_type_radio active"></i></span></div>
      </div>
      <div class="klk_select_wrapper" style="display: none;">
        <div class="klk_select" style="display: none;">
          <div class="klk_select__div--header"><i class="klook-icon-close klk_select__i--close"></i>
            <p class="klk_select__p--title"></p>
          </div>
          <!---->
          <div class="klk_select__div--options"> </div>
          <div class="klk_select__div--noresult"><span class="t16">Xin lỗi... Không có kết quả phù hợp</span></div>
        </div>
      </div>
      <div class="payment_options__div--other_type"><svg aria-hidden="true"
          class="klook-symbol payment_options__svg--other_type_paypal">
          <use xlink:href="#icon-paypal"></use>
        </svg> <span class="payment_options__span--other_type_name">PayPal</span> <span
          class="payment_options__i--credit_card_radio_wrap"><i class="payment_options__i--other_type_radio"></i></span>
      </div>
      <div>
        <div class="payment_options__div--credit_card inactive"><svg
            class="klook-symbol payment_options__svg--credit_card_icon">
            <use xlink:href="#icon-credit-card"></use>
          </svg> <span class="payment_options__span--credit_card_name">Thêm thẻ mới</span> <span
            class="payment_options__i--credit_card_radio_wrap"><i
              class="payment_options__i--credit_card_radio"></i></span></div>
        <div class="credit_card_new j-payment_incorrect_position_target" style="display: none;">
          <p class="credit_card_new__p--tip_supported">Có hỗ trợ thẻ credit</p>
          <p class="credit_card_new__p--card_type"><span class="payment_options__span--credit_visa_icon"></span>
            <!----> <span class="payment_options__span--credit_ae_icon"></span> <span
              class="payment_options__span--credit_master_icon"></span></p>
          <div class="c-box">
            <div class="credit_card_new__div--num">
              <p class="credit_card_new__p--title_num">Số thẻ</p> <input autocomplete="nope" type="tel"
                placeholder="Số thẻ" maxlength="19" class="credit_card_new__input--num"> <span
                class="credit_card_new__span--credit_visa_icon" style="display: none;"></span> <span
                class="credit_card_new__span--credit_jcb_icon" style="display: none;"></span> <span
                class="credit_card_new__span--credit_ae_icon" style="display: none;"></span> <span
                class="credit_card_new__span--credit_master_icon" style="display: none;"></span>
            </div>
            <div class="credit_card_new__div--info">
              <div class="credit_card_new__div--expire">
                <p class="credit_card_new__p--expire_title">Ngày hết hạn </p>
                <div class="credit_card_new__div--expire_date">
                  <div class="credit_card_new__div--expire_month"><select
                      class="credit_card_new__select--expire_month payment_color_gray">
                      <option value="" disabled="disabled">MM</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select> <i class="klook-icon-arrowDown"></i></div>
                  <div class="credit_card_new__div--expire_year"><select
                      class="credit_card_new__select--expire_year payment_color_gray">
                      <option value="" disabled="disabled">YYYY</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                      <option value="2024">2024</option>
                      <option value="2025">2025</option>
                      <option value="2026">2026</option>
                      <option value="2027">2027</option>
                      <option value="2028">2028</option>
                      <option value="2029">2029</option>
                      <option value="2030">2030</option>
                      <option value="2031">2031</option>
                      <option value="2032">2032</option>
                      <option value="2033">2033</option>
                      <option value="2034">2034</option>
                      <option value="2035">2035</option>
                      <option value="2036">2036</option>
                      <option value="2037">2037</option>
                      <option value="2038">2038</option>
                    </select> <i class="klook-icon-arrowDown"></i></div>
                </div>
              </div>
              <div class="credit_card_new__div--cvv">
                <p class="credit_card_new__p--cvv_title">CVV</p> <input autocomplete="nope" type="tel" placeholder="CVV"
                  maxlength="3" class="credit_card_new__input--cvv">
              </div>
            </div>
          </div>
          <div class="credit_card_new__div--saving"><svg class="klook-symbol icon_sel" style="display: none;">
              <use xlink:href="#icon-checkbox-sel"></use>
            </svg> <svg class="klook-symbol icon_nor">
              <use xlink:href="#icon-checkbox-nor"></use>
            </svg> <span>Lưu thẻ này để dùng cho các đơn hàng sau</span> <svg class="klook-symbol icon_info">
              <use xlink:href="#icon-info"></use>
            </svg></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="BookNow()">Đặt ngay</ion-button>
</ion-footer>