<ion-header>
  <ion-toolbar>
    <ion-title>Người dùng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="m_slide_shadow show">
    <div class="m_aside_user_center f_hidden">

      <div class="user-center-top ">
        <a class="user-info" href="/vi/login">
          <span class="user-avatar">
            <img class="user-img" src="https://cdn.klook.com/upload/img200X200/avatar.png">
          </span>
          <span class="user-name">
            Đăng nhập /Đăng ký
          </span>
        </a>
      </div>

      <ul class="nav-wrap">


        <li class="nav-item">
          <p class="nav-link">
            <i class="klook-icon klook-icon-uncollect t_gray t20" style="padding-left: 2px"></i>
            Yêu thích
          </p>
        </li>

        <li class="nav-item ">
          <p class="nav-link">
            <svg class="klook-symbol klook-icon klook-icon-uncollect t26">
              <use xlink:href="#icon-reviews-empty"></use>
            </svg>
            Đánh giá
          </p>
        </li>
        <li class="nav-item">
          <p class="nav-link">
            <i class="klook-icon klook-icon-earn-rewards t_gray t24"></i>
            Mời bạn bè
          </p>
        </li>

        <li class="nav-item margin-top-8">
          <p class="nav-link">
            <i class="klook-icon klook-icon-icon-help t_gray t24"></i>
            Trợ giúp
          </p>
        </li>
      </ul>
    </div>
  </div>
</ion-content>