
 .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .swiper-container-no-flexbox .swiper-slide {
    float: left;
  }
  .swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box;
  }
  .swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
  }
  .swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
    height: auto;
  }
  .swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform, height;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform;
  }
  .swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
  }
  .swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }
  .swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
  }
  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto;
  }
  .swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto;
  }
  .swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
  }
  button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
  }
  .swiper-pagination-white .swiper-pagination-bullet {
    background: #fff;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #ff5722;
  }
  .swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff;
  }
  .swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000;
  }
  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
  .swiper-pagination-progress {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
  }
  .swiper-pagination-progress .swiper-pagination-progressbar {
    background: #ff5722;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
  .swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
  .swiper-container-horizontal > .swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
  }
  .swiper-container-vertical > .swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
  }
  .swiper-pagination-progress.swiper-pagination-white {
    background: rgba(255, 255, 255, 0.5);
  }
  .swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff;
  }
  .swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000;
  }
  .swiper-container-3d {
    -webkit-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
  }
  .swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }
  .swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px;
  }
  .swiper-container-cube, .swiper-container-flip {
    overflow: visible;
  }
  .swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
  }
  .swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none;
  }
  .swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
  }
  .swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .swiper-container-cube .swiper-slide {
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
  }
  .swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  .swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible;
  }
  .swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0;
  }
  .swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }
  .swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none;
  }
  .swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
  }
  .swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1);
  }
  .swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
  }
  .swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
  }
  .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 0;
    top: 0;
  }
  .swiper-scrollbar-cursor-drag {
    cursor: move;
  }
  .swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite;
  }
  .swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  @-webkit-keyframes swiper-preloader-spin {
  100% {
      -webkit-transform: rotate(360deg);
  }
  }
  @keyframes swiper-preloader-spin {
  100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
  }
  }
  .booking-list-page {
 
  }
  .booking-list-page .booking-header {
      position: fixed;
      top: 48px;
      font-weight: 600;
      width: 100%;
      height: 48px;
      line-height: 48px;
      background-color: #fff;
      box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.12);
      z-index: 2;
  }
  .booking-list-page .header_placeholder {
      height: 48px;
      margin-top: -48px;
  }
  .booking-list-page p.view_btn {
      color: #00699e;
      padding: 8px 16px 4px;
  }
  .booking-list-page p.view_btn .chang_view_btn {
        margin-right: 12px;
  }
  .booking-list-page p.view_btn .chang_view_btn:last-child {
          margin-right: 0;
  }
  .booking-list-page .mt12 {
      margin-top: 12px;
  }
  .booking-list-page .mb4 {
      margin-bottom: 4px;
  }
  .booking-list-page .booking-list {
      display: block;
      color: inherit;
  }
  .booking-list-page .booking-item {
      background-color: #fff;
  }
  .booking-list-page .booking-item .booking-body {
        padding: 0 16px;
  }
  .booking-list-page .booking-item.stick .booking-body {
        background: #fff2db;
  }
  .booking-list-page .booking-item .order-info {
        padding-top: 16px;
  }
  .booking-list-page .booking-item .order-info > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
  }
  .booking-list-page .booking-item .order-info > div:not(:last-child) {
            margin-bottom: 2px;
  }
  .booking-list-page .booking-item .order-info > div .flex_wrap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            line-height: 14px;
  }
  .booking-list-page .booking-item .order-info > div > p {
            color: rgba(0, 0, 0, 0.54);
  }
  .booking-list-page .booking-item .order-info > div > p b {
              color: #333;
              margin-right: 4px;
  }
  .booking-list-page .booking-item .order-info > div > span:last-child {
            white-space: nowrap;
  }
  .booking-list-page .booking-item .order-info > div > span:last-child.booking-status {
              font-weight: 600;
  }
  .booking-list-page .booking-item .order-info > div > span:last-child.btn-view-more {
              margin-left: 5px;
              color: rgba(0, 0, 0, 0.54);
  }
  .booking-list-page .booking-item .order-info > div > span:last-child.btn-view-more .arrow-right {
                font-size: 8px;
  }
  .booking-list-page .booking-item .order-info > div.flex_end {
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            margin-top: 16px;
  }
  .booking-list-page .booking-item .order-info > div.fraud_link .confirm {
            border-color: rgba(0, 0, 0, 0.24);
            color: rgba(0, 0, 0, 0.24);
  }
  .booking-list-page .booking-item .order-info .booking_wait_pay__special_info {
          position: relative;
  }
  .booking-list-page .booking-item .order-info .booking_wait_pay__count_down_time {
          margin-left: 16px;
          line-height: 24px;
          font-size: 20px;
          font-weight: 600;
          color: #ffa628;
  }
  .booking-list-page .booking-item .order-info .pay_amount_view {
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: flex-end;
  }
  .booking-list-page .booking-item .order-info .pay_amount_view .user_pay {
            margin-top: 3px;
  }
  .booking-list-page .booking-item .order-info .pay_amount_view > div p {
            color: rgba(0, 0, 0, 0.54);
  }
  .booking-list-page .booking-item .order-info .pay_amount_view > div p b {
              color: #333;
              margin-right: 4px;
  }
  .booking-list-page .booking-item .dragon-payment-voucher {
        display: block;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 48px;
        border: 1px solid #ff5722;
        border-radius: 2px;
        color: #ff5722;
  }
  .booking-list-page .booking-item .ticket-item {
        margin-bottom: 12px;
        /*.item-center {*/
        /*display: flex;*/
        /*padding: 16px;*/
        /*border-bottom: solid 1px rgba(0, 0, 0, 0.12);*/
        /*.ticket-title {*/
        /*font-size: 14px;*/
        /*margin-bottom: 8px;*/
        /*}*/
        /*.viewMoreWifi{*/
        /*margin-top:8px;*/
        /*font-size:14px;*/
        /*color:#00699e;*/
        /*}*/
        /*}*/
        /*.item-addOns{*/
        /*padding: 16px;*/
        /*border-bottom: solid 1px rgba(0, 0, 0, 0.12);*/
        /*p{*/
        /*margin-bottom:8px;*/
        /*color: rgba(0, 0, 0, 0.87);*/
        /*&.title{*/
        /*color: rgba(0, 0, 0, 0.38);*/
        /*}*/
        /*&:last-child{*/
        /*margin-bottom:0;*/
        /*}*/
        /*}*/
        /*}*/
  }
  .booking-list-page .booking-item .ticket-item .ticket-item-content {
          background: #fff;
  }
  .booking-list-page .booking-item .ticket-item .item-head {
          padding: 8px 16px;
          border-bottom: solid 1px rgba(0, 0, 0, 0.12);
          background-color: #f5f5f5;
          color: rgba(0, 0, 0, 0.54);
  }
  .booking-list-page .booking-item .ticket-item .item-head span {
            display: inline-block;
  }
  .booking-list-page .booking-item .ticket-item .item-head b {
            color: #333;
  }
  .booking-list-page .booking-item .ticket-item .item-top {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          padding: 16px;
          /*border-bottom: solid 1px rgba(0, 0, 0, 0.12);*/
  }
  .booking-list-page .booking-item .ticket-item .item-top .ticket-title {
            margin-bottom: 8px;
            font-weight: 600;
            word-break: break-word;
  }
  .booking-list-page .booking-item .ticket-item .item-top .ticket-date {
            color: rgba(0, 0, 0, 0.87);
  }
  .booking-list-page .booking-item .ticket-item .item-top .img-box {
            -ms-flex-negative: 0;
                flex-shrink: 0;
            width: 64px;
            height: 64px;
            margin-left: 16px;
            background-color: #e0e0e0;
            background-size: cover;
            border-radius: 2px;
  }
  .booking-list-page .booking-item .ticket-item .item-top .img-box::after {
              display: none;
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-color: #fff;
              opacity: 0.7;
  }
  .booking-list-page .booking-item .ticket-item .item-rail {
          padding: 16px;
          /*border-bottom: solid 1px rgba(0, 0, 0, 0.12);*/
  }
  .booking-list-page .booking-item .ticket-item .item-rail .rail_address {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.87);
            margin-bottom: 8px;
  }
  .booking-list-page .booking-item .ticket-item .item-rail .rail_date {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.54);
            margin-top: 4px;
  }
  .booking-list-page .booking-item .ticket-item .item-center {
          /*display: flex;*/
          padding: 16px;
          /*border-bottom: solid 1px rgba(0, 0, 0, 0.12);*/
  }
  .booking-list-page .booking-item .ticket-item .item-center:not(:nth-last-child(2)) {
            border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  }
  .booking-list-page .booking-item .ticket-item .item-center .ticket-title {
            font-size: 14px;
            margin-bottom: 8px;
  }
  .booking-list-page .booking-item .ticket-item .item-center .viewMoreWifi {
            margin-top: 8px;
            font-size: 14px;
            color: #00699e;
  }
  .booking-list-page .booking-item .ticket-item .item-addOns {
          padding: 16px;
          border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  }
  .booking-list-page .booking-item .ticket-item .item-addOns p {
            margin-bottom: 8px;
            color: rgba(0, 0, 0, 0.87);
  }
  .booking-list-page .booking-item .ticket-item .item-addOns p.title {
              color: rgba(0, 0, 0, 0.38);
  }
  .booking-list-page .booking-item .ticket-item .item-addOns p:last-child {
              margin-bottom: 0;
  }
  .booking-list-page .booking-item .ticket-item .item-bottom {
          /*padding: 16px;*/
          /*border-bottom: solid 1px rgba(0, 0, 0, 0.12);*/
  }
  .booking-list-page .booking-item .ticket-item .item-bottom .pkg-name .viewMoreWifi {
            color: #00699e;
  }
  .booking-list-page .booking-item .ticket-item .item-bottom .pkg-name {
            padding: 16px;
  }
  .booking-list-page .booking-item .ticket-item .item-bottom .ticket-status {
            padding: 16px;
  }
  .booking-list-page .booking-item .ticket-item .item-bottom .ticket-status:not(:first-child) {
              padding-top: 0;
  }
  .booking-list-page .booking-item .ticket-item .item-bottom .ticket-status > div {
              /*margin-top: 8px;*/
  }
  .booking-list-page .booking-item .ticket-item .item-bottom .ticket-status > div span.t14:first-of-type {
                font-weight: 600;
  }
  .booking-list-page .booking-item .ticket-item .item-bottom .ticket-status > div.confirmed {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
  }
  .booking-list-page .booking-item .ticket-item .item-bottom .ticket-status > div.confirmed .onway_text {
                  margin-top: 8px;
  }
  .booking-list-page .booking-item .ticket-item .item-bottom .ticket-status > div.confirmed .btn-box {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -ms-flex-wrap: wrap;
                      flex-wrap: wrap;
                  /*margin-top: 12px;*/
  }
  .booking-list-page .booking-item .ticket-item .item-bottom .ticket-status > div.confirmed .btn-box > a {
                    max-width: 100%;
                    height: 28px;
                    padding: 0 12px;
                    line-height: 34px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 12px;
                    margin-right: 12px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
  }
  .booking-list-page .booking-item .ticket-item .buy-again {
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          margin-top: 12px;
  }
  .booking-list-page .booking-item .ticket-item.canceled .item-top .ticket-title, .booking-list-page .booking-item .ticket-item.canceled .item-rail .ticket-title, .booking-list-page .booking-item .ticket-item.canceled .item-bottom .ticket-title, .booking-list-page .booking-item .ticket-item.canceled .item-center .ticket-title {
          color: rgba(0, 0, 0, 0.24);
  }
  .booking-list-page .booking-item .ticket-item.canceled .item-top .ticket-date, .booking-list-page .booking-item .ticket-item.canceled .item-rail .ticket-date, .booking-list-page .booking-item .ticket-item.canceled .item-bottom .ticket-date, .booking-list-page .booking-item .ticket-item.canceled .item-center .ticket-date {
          color: rgba(0, 0, 0, 0.24);
  }
  .booking-list-page .booking-item .ticket-item.canceled .item-top .pkg-name, .booking-list-page .booking-item .ticket-item.canceled .item-rail .pkg-name, .booking-list-page .booking-item .ticket-item.canceled .item-bottom .pkg-name, .booking-list-page .booking-item .ticket-item.canceled .item-center .pkg-name {
          color: rgba(0, 0, 0, 0.24);
  }
  .booking-list-page .booking-item .ticket-item.canceled .item-top .img-box::after {
          display: block;
  }
  .booking-list-page .booking-item .ticket-item.canceled .item-addOns p {
          color: rgba(0, 0, 0, 0.24);
  }
  .booking-list-page .booking-item .ticket-item > div:first-child {
          border-radius: 2px;
          border: solid 1px rgba(0, 0, 0, 0.24);
  }
  .booking-list-page .booking-item .ticket-item > div:first-child > div {
            border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  }
  .booking-list-page .booking-item .ticket-item > div:first-child > div:last-child {
              border-bottom: none;
  }
  .booking-list-page .booking-item .option {
        position: relative;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin-top: 12px;
  }
  .booking-list-page .booking-item .option a {
          padding: 0 10px;
          margin-right: -10px;
  }
  .booking-list-page .booking-item .option .m_cover_block {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.38);
          z-index: 2;
  }
  .booking-list-page .booking-item .option .option-list {
          position: absolute;
          width: 100%;
          right: 0;
          padding: 8px 16px;
          background: #fff;
          border-radius: 2px;
          box-sizing: border-box;
          z-index: 3;
  }
  .booking-list-page .booking-item .option .option-list li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 10px 0;
            border-bottom: solid 0.5px rgba(0, 0, 0, 0.12);
  }
  .booking-list-page .booking-item .option .option-list li:last-child {
              border-bottom: none;
  }
  .booking-list-page .booking-item .option .option-list li svg {
              margin-right: 16px;
  }
  .booking-list-page .booking-item .option .option-list.top {
            bottom: 19px;
            -webkit-transform-origin: 100% 100% 0;
                    transform-origin: 100% 100% 0;
  }
  .booking-list-page .booking-item .option .option-list.bottom {
            top: 19px;
            -webkit-transform-origin: 100% 0% 0;
                    transform-origin: 100% 0% 0;
  }
  .booking-list-page .booking-item .option .fade-opacity-enter-active, .booking-list-page .booking-item .option .fade-opacity-leave-active {
          -webkit-transition: all .2s;
          transition: all .2s;
  }
  .booking-list-page .booking-item .option .fade-scale-enter-active, .booking-list-page .booking-item .option .fade-scale-leave-active {
          -webkit-transition: all .2s;
          transition: all .2s;
          -webkit-transform: scale(1);
                  transform: scale(1);
  }
  .booking-list-page .booking-item .option .fade-scale-enter, .booking-list-page .booking-item .option .fade-scale-leave-to {
          opacity: 0;
          -webkit-transform: scale(0);
                  transform: scale(0);
  }
  .booking-list-page .empty_box {
      background: #fff;
      margin-top: -48px;
      padding-bottom: 1px;
  }
  .booking-list-page .empty_box .empty_booking {
        color: rgba(0, 0, 0, 0.54);
        padding: 88px 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
  }
  .booking-list-page .empty_box .empty_booking .empty_booking_middle {
          margin: 16px 0;
  }
  .booking-list-page .empty_box .empty_booking .empty_booking_middle .view_btn span {
            display: block;
            text-align: center;
            margin-bottom: 16px;
  }
  .booking-list-page .empty_box .empty_booking .empty_booking_middle .view_btn span:last-child {
              margin-bottom: 0;
  }
  .booking-list-page .empty_box .empty_booking svg {
          font-size: 65px;
          color: rgba(0, 0, 0, 0.9);
  }
  .booking-list-page .empty_box .empty_booking p {
          margin: 16px 0;
  }
  .booking-list-page .empty_box .hot_destination {
        margin-left: 16px;
        margin-bottom: 40px;
  }
  .booking-list-page .empty_box .hot_destination .title {
          padding-right: 16px;
          margin-bottom: 12px;
  }
  .booking-list-page .empty_box .hot_destination .title #allDestination {
            color: #00699e;
  }
  .booking-list-page .empty_box .hot_destination .title .allDestination {
            color: #00699e;
  }
  .booking-list-page .empty_box .city_list .city_block {
        width: 4.125rem;
        height: 5.5rem;
        margin-right: .3125rem;
  }
  .booking-list-page .empty_box .city_list .city_block .subname {
          position: absolute;
          font-size: .5rem;
          left: .5rem;
          bottom: .3125rem;
  }
  .booking-list-page .empty_box .city_list .city_block .m_cover_block {
          position: absolute;
          left: 0;
          background-color: rgba(0, 0, 0, 0.2);
  }
  .booking-list-page .klk_dialog_wrapper {
      position: fixed;
      z-index: 105;
      background-color: rgba(0, 0, 0, 0.3);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  .booking-list-page .klk_dialog__download {
      position: absolute;
      z-index: 101;
      background-color: #fff;
      top: 50%;
      left: 50%;
      width: 295px;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border-radius: 2px;
  }
  .booking-list-page .klk_dialog__download--main {
      padding: 24px;
      border-bottom: 1px solid #e0e0e0;
  }
  .booking-list-page .klk_dialog__download--main .download_text {
        font-size: 14px;
        text-align: center;
  }
  .booking-list-page .klk_dialog__download--opt {
      height: 44px;
      font-size: 16px;
      line-height: 44px;
      text-align: center;
  }
  .booking-list-page .klk_dialog__download--opt:not(:last-child) {
        border-bottom: 1px solid #e0e0e0;
  }
  .booking-list-page .klk_dialog__download--opt.t_bold {
        font-weight: 600;
  }
  .booking-list-page .klk_dialog__wifi--main {
      padding-bottom: 16px;
  }
  .booking-list-page .klk_dialog__wifi--content {
      padding: 16px 24px 24px;
      max-height: 300px;
      overflow-y: scroll;
  }
  .booking-list-page .klk_dialog__wifi--content .property {
        margin-bottom: 12px;
  }
  .booking-list-page .klk_dialog__wifi--content .property .name {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.38);
          margin-bottom: 4px;
  }
  .booking-list-page .klk_dialog__wifi--content .property .desc {
          font-size: 16px;
          color: rgba(0, 0, 0, 0.87);
  }
  .booking-list-page .klk_dialog__wifi--content .property:last-child {
          margin-bottom: 0;
  }
  .booking-list-page .klk_dialog__wifi--opts {
      padding: 11px 16px;
      font-size: 16px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.87);
      text-align: center;
      border-top: 1px solid #e0e0e0;
  }
  .booking-list-page .booking_opt_box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 12px;
  }
  .booking-list-page .booking_opt_box__cancel {
        margin-right: 20px;
        height: 16px;
        line-height: 16px;
        font-size: 14px;
        color: #00699e;
  }
  .booking-list-page .booking_opt_box__continue {
        padding: 0 12px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
        border-radius: 2px;
        background-color: #ff5722;
  }
  .booking-list-page .booking_opt_box__continue:active {
          background-color: #df3d0a;
  }


  .bookings-page .flex_v_b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bookings-page .flex_b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bookings-page .flex_v_r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bookings-page .klook-icon-order-confirming {
    color: #ffa628;
  }
  .bookings-page .klook-icon-order-confirmed {
    color: #25b885;
  }
  .bookings-page .main-container > .booking-title {
    font-weight: 600;
    height: 48px;
    line-height: 48px;
  }
  .bookings-page .main-container .trans_btn {
    display: inline-block;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.87);
    border-color: rgba(0, 0, 0, 0.87);
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 36px;
    box-sizing: border-box;
  }
  .bookings-page .main-container .trans_btn.main {
      color: #ff5722;
      border-color: #ff5722;
  }
  .bookings-page .main-container .trans_btn.canceled {
      color: rgba(0, 0, 0, 0.24);
      border-color: rgba(0, 0, 0, 0.24);
  }
  .bookings-page .main-container .opa-btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 12px;
    height: 36px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    border-radius: 2px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .bookings-page .main-container .opa-btn.main {
      background-color: #ff5722;
  }
  .bookings-page .main-container .border_top {
    background-image: url("https://res.klook.com/image/upload/v1523243038/wave-top_f3gnbh.png");
    background-repeat: repeat-x;
    height: 16px;
    background-color: #eee;
  }
  .bookings-page .main-container .border_top.stick {
      background-image: url("https://res.klook.com//image/upload/v1552551558/web3.0/wave-top_vfdbgr.png");
  }
  .bookings-page .main-container .border_bottom {
    background-image: url("https://res.klook.com/image/upload/v1523243050/wave-bottom_qqqwvj.png");
    background-repeat: repeat-x;
    height: 16px;
    background-color: #eee;
  }
  .bookings-page .main-container .border_bottom.stick {
      background-image: url("https://res.klook.com/image/upload/v1552551600/web3.0/wave-bottom_fmkfle.png");
  }
  .bookings-page .main-container .status_confirmed {
    color: #32ad82;
  }
  .bookings-page .main-container .status_processing {
    color: #fc7f0a;
  }
  .bookings-page .main-container .status_wait_pay {
    color: #ffa628;
  }
  .bookings-page .main-container .status_wait_pay {
    color: #ffa628;
  }
  .bookings-page .main-container .status_partial_cancel {
    color: #ffa628;
  }
  .bookings-page .main-container .status_expired {
    color: rgba(0, 0, 0, 0.87);
  }
  