<ion-header>
  <ion-toolbar>
    <ion-title>Đơn hàng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bookings-page booking-list-page">
    <div class="main-container">
      <div class="bookings" style="">
        <div class="booking-list">
          <section class="booking-item">
            <div class="border_top"></div>
            <div class="booking-body">
              <div class="order-info g_rel">
                <div>
                  <p class="t12 flex_wrap"><b>Số đơn hàng:</b> 3474576505</p>
                  <span class="t14 booking-status">
                    <!---->
                    <!---->
                    <div class="booking_wait_pay__special_info"><span class="status_wait_pay">Đã Thanh Toán</span>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                  </span>
                </div>
                <div>
                  <p class="t12 flex_wrap"><b>Ngày đơn hàng:</b>
                    24/7/2019 11:31</p>
                  <!-- <p class="klk_count_down_time booking_wait_pay__count_down_time">01:53:00</p> -->
                </div>
                <div class="pay_amount_view">
                  <div>
                    <p class="t12 flex_wrap"><b>Số tiền thanh toán： </b>₫ 730,000
                    </p>
                    <!---->
                  </div> <span class="t12 btn-view-more"><span>Xem thêm </span>
                    <svg aria-hidden="true" class="klk_c_symbol klook-symbol t12 arrow-right klook-symbol">
                      <use xlink:href="#icon-arrow2"></use>
                    </svg></span>
                </div>
                <div class="flex_end fraud_link"><a
                    data-track-event="Booking Listing Page|Verify Your Information Button Clicked"
                    class="trans_btn main" style="display: none;">
                    Xác mình thông tin của bạn <i class="klook-icon-arrow t12"></i></a> <span class="confirm trans_btn"
                    style="display: none;">
                    Đang tiến hành...
                  </span></div>
              </div>
              <!-- <div class="booking_opt_box"><span class="booking_opt_box__continue">Tiếp tục Thanh Toán</span></div> -->
              <!---->
              <div class="ticket-item">
                <div class="ticket-item-content">
                  <div class="item-head">
                    <p class="t12 ticket-date">
                      Ngày tham gia:
                      <span><b class="t14">25/7/2019</b>
                        ((Giờ địa phương))
                      </span></p>
                  </div>
                  <div class="item-top">
                    <div>
                      <h3 class="t16 ticket-title">Vé Bà Nà Hills Đà Nẵng</h3>
                      <p class="t14 ticket-date">25/7/2019 (Giờ địa phương)</p>
                      <!---->
                      <!---->
                      <!---->
                    </div>
                    <div class="g_rel img-box"
                      style="background-image: url(&quot;https://res.klook.com/image/upload/fl_lossy.progressive,q_65,f_auto/c_fill,w_200,h_133/activities/vec3azfslufi40dgb8dk.jpg&quot;);">
                    </div>
                  </div>
                  <!---->
                  <!---->
                  <div class="item-bottom">
                    <!---->
                    <p class="pkg-name t14 t_black_0">Combo Vé Bà Nà Hill với Voucher Buffet Trưa
                      Little Tokyo</p>
                    <!---->
                  </div>
                </div>
                <!---->
              </div>
              <div class="flex option"><span><svg aria-hidden="true" class="klk_c_symbol klook-symbol t16">
                    <use xlink:href="#icon-order-more"></use>
                  </svg></span>
                <div class="layer" style="display: none;">
                  <div class="m_cover_block"></div>
                  <ul class="option-list t16" style="display: none;">
                    <li><svg aria-hidden="true" class="klk_c_symbol klook-symbol t24">
                        <use xlink:href="#icon-pin"></use>
                      </svg>
                      Ghim đầu trang
                    </li>
                    <!---->
                    <!---->
                    <!---->
                  </ul>
                </div>
              </div>
            </div>
            <div class="border_bottom"></div>
          </section>
        </div>
        <div href="/vi/bookings/details?guid=d4985cea-ad82-47c8-4549-e3dbdafebd72" class="booking-list">
          <section class="booking-item">
            <div class="border_top"></div>
            <div class="booking-body">
              <div class="order-info g_rel">
                <div>
                  <p class="t12 flex_wrap"><b>Số đơn hàng:</b> 3474506277</p>
                  <span class="t14 booking-status">
                    <!---->
                    <!---->
                    <div class="booking_wait_pay__special_info">
                      <!---->
                    </div> <span class="status_canceled">Đã huỷ</span>
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                  </span>
                </div>
                <div>
                  <p class="t12 flex_wrap"><b>Ngày đơn hàng:</b>
                    24/7/2019 11:28</p>
                  <!---->
                </div>
                <div class="pay_amount_view">
                  <div>
                    <p class="t12 flex_wrap"><b>Số tiền thanh toán： </b>₫
                      730,000
                    </p>
                    <!---->
                  </div> <span class="t12 btn-view-more"><span>Xem thêm </span>
                    <svg aria-hidden="true" class="klk_c_symbol klook-symbol t12 arrow-right klook-symbol">
                      <use xlink:href="#icon-arrow2"></use>
                    </svg></span>
                </div>
                <div class="flex_end fraud_link"><a
                    data-track-event="Booking Listing Page|Verify Your Information Button Clicked"
                    class="trans_btn main" style="display: none;">
                    Xác mình thông tin của bạn <i class="klook-icon-arrow t12"></i></a> <span class="confirm trans_btn"
                    style="display: none;">
                    Đang tiến hành...
                  </span></div>
              </div>
              <!---->
              <!---->
              <div class="ticket-item canceled">
                <div class="ticket-item-content">
                  <div class="item-head">
                    <p class="t12 ticket-date">
                      Ngày tham gia:
                      <span><b class="t14">25/7/2019</b>
                        ((Giờ địa phương))
                      </span></p>
                  </div>
                  <div class="item-top">
                    <div>
                      <h3 class="t16 ticket-title">Vé Bà Nà Hills Đà Nẵng</h3>
                      <p class="t14 ticket-date">25/7/2019 (Giờ địa phương)</p>
                      <!---->
                      <!---->
                      <!---->
                    </div>
                    <div class="g_rel img-box"
                      style="background-image: url(&quot;https://res.klook.com/image/upload/fl_lossy.progressive,q_65,f_auto/c_fill,w_200,h_133/activities/vec3azfslufi40dgb8dk.jpg&quot;);">
                    </div>
                  </div>
                  <!---->
                  <!---->
                  <div class="item-bottom">
                    <!---->
                    <p class="pkg-name t14 t_black_0">Combo Vé Bà Nà Hill với Voucher Buffet Trưa
                      Little Tokyo</p>
                    <div class="ticket-status">
                      <!---->
                      <div class="confirmed flex">
                        <!---->
                      </div>
                      <div class="canceled"><span class="t14">Đã huỷ</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!---->
              </div>
              <div class="flex option"><span><svg aria-hidden="true" class="klk_c_symbol klook-symbol t16">
                    <use xlink:href="#icon-order-more"></use>
                  </svg></span>
                <div class="layer" style="display: none;">
                  <div class="m_cover_block"></div>
                  <ul class="option-list t16" style="display: none;">
                    <li><svg aria-hidden="true" class="klk_c_symbol klook-symbol t24">
                        <use xlink:href="#icon-pin"></use>
                      </svg>
                      Ghim đầu trang
                    </li>
                    <!---->
                    <li><svg aria-hidden="true" class="klk_c_symbol klook-symbol t24">
                        <use xlink:href="#icon-trash-bin"></use>
                      </svg>
                      Đã bỏ
                    </li>
                    <!---->
                  </ul>
                </div>
              </div>
            </div>
            <div class="border_bottom"></div>
          </section>
        </div>
      </div>
      <p class="t_right t14 view_btn mb4" style="">
        <!---->
      </p>
      <div class="empty_box t_mid" style="display: none;">
        <div class="empty_booking"><svg aria-hidden="true" class="klk_c_symbol klook-symbol klook-symbol">
            <use xlink:href="#icon-bookings"></use>
          </svg>
          <div class="t16 empty_booking_middle">
            <div>Hiện chưa có hoạt động nào!</div>
            <div>Hãy xem lịch sử đơn hàng của bạn bên dưới:</div>
            <p class="t_right t14 view_btn" style="display: none;">
              <!---->
              <!---->
              <!---->
            </p>
            <div>Khám phá các hoạt động du lịch đặc sắc và đặt ngay</div>
          </div>
          <div><a href="/vi/" class="t14 t_black trans_btn">Về trang chủ</a>
          </div>
        </div>
        <div data-role="home_page_top_destinations" data-box="hot_destination" class="m_card_list hot_destination">
          <header class="title flex_b">
            <div class="t14 ">Điểm đến được yêu thích</div> <a href="/vi/destination_list"
              class="t14 allDestination">Tất cả điểm đến</a>
          </header>
          <div class="city_list swiper-container city-swiper-container">
            <div class="swiper-wrapper"></div>
          </div>
        </div>
      </div>
      <!---->
      <!---->
    </div>
    <div data-v-4f47b7a9="" class="klk_dialog_wrapper" style="display: none;">
      <div data-v-4f47b7a9="" class="klk_dialog" style="display: none;">
        <div data-v-4f47b7a9="" class="klk_dialog__div--main">
          <div data-v-4f47b7a9="" class="klk_dialog__div--content simple"></div>
        </div>
        <div data-v-4f47b7a9="" class="klk_dialog__div--opts"></div>
      </div>
    </div>
    <div class="toast" style="display: none;">
      <p></p>
    </div>
    <div class="loading_wrapper" style="display: none;">
      <div class="loading">
        <div class="loadingIcon"><i class="i_loadingWhite"></i></div>
        <div slot="uploading" class="uploading"></div>
      </div>
    </div>
  </div>
</ion-content>